* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    height: 100vh;
    display: grid;
    color: black;
  }


/* .flex-center {
    display:flex;
    justify-content: center;
    align-items: right;
    color: grey;
} */

.name {
    text-align: center;
}

.rating {
    /* height: 70px; */
    background-color: rgb(126, 126, 126);
    text-align: center;
    /* margin-bottom: 5px; */
}

  
.status{
    text-align: right;
    color: gray;
    font-size: 20px;
}