* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    height: 100vh;
    display: grid;
    color: black;
  }

.container {
    display: grid;
    background: rgb(92, 146, 92);
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.name {
    text-align: center;
}

.rating {
    /* height: 70px; */
    background-color: rgb(126, 126, 126);
    text-align: center;
    /* margin-bottom: 5px; */
}

  
.status{
    text-align: right;
    color: rgb(165, 151, 151);
    font-size: 20px;
    padding: 10px;
}